@use "./base/reset";
@use "./base/fonts";

@import url("../icomoon/style.css");

body {
    background-color: #eef3f6;
    font-family: "Roboto", sans-serif;

    .todoApp {
        margin: 0 auto;

        &__form {


            &__input {


                &--error {}
            }

            &__button {}
        }

        &__list {



            &__item {

                &--checked {}

                .icon {

                    &--remove {}

                    &--check {}
                }


            }

            .todoApp {

                &__form {


                    &__input {


                        &--error {}
                    }

                    &__button {}
                }

                &__list {


                    &__item {

                        &--checked {}

                        .icon {

                            &--remove {}

                            &--check {}

                        }
                    }
                }
            }
        }
    }
}